.filters {
    display: flex;
    align-items: center;
    background-color: var(--color-white-500);
}

.extraOptions {
    color: var(--color-red-700)
}

.extraOptionsList {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rangePicker {
    border-color: transparent;
    border-right-color: #dedede;
    padding: 19px 20px;
    border-radius: 0;
    width: 357px;
    flex-shrink: 0;
}
