.recordCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.recordCard__up {
    display: flex;
    gap: 10px;
    align-items: center;
}

.recordCard__down {
    display: flex;
    justify-content: space-between;
}

.recordCard__middle {
    display: flex;
    justify-content: center;
}

.recordCard__down {
    align-items: center;
}

.recordCard__line {
    position: absolute;
    top: 20px
}

.recordCard__date {
    color: #5A5A5A;
    font-size: 14px;
}

.recordCard__situation {
    font-size: 14px;
}

.recordCard__moreContainer {
    display: flex;
    justify-content: end;
    gap: 10px
}

.recordCard__more {
    font-size: 14px;
    font-weight: 600;
    color: #e21a1a;
}

.recordCard__moreContainer {
    cursor: pointer;
}

.recordCard__moreContainer:hover .recordCard__arrow path,
.recordCard__moreContainer:hover .recordCard__more {
    color: #ac0e0e;
    stroke: #ac0e0e;
    transition: all 0.2s ease-in;
}

.recordCard__arrow path {
    stroke: #C2C2C2;
}

.separator {
    width: 4px;
    height: 4px;
    border-radius: 4px;
    margin-top: 3px;
    background-color: var(--color-red-700);
}

.mainContainer {
    display: flex;
    justify-content: space-between;
    gap: 32px
}

.mainRightContainer {
    padding-left: 32px;
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-left: 1px solid #dedede
}

.statisticsLine {
    display: flex;
    align-items: center;
}

.statisticsKey {
    font-size: 16px;
    color: var(--color-gray-200);
    flex-basis: 200px;
}

.statisticsValue {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-gray-200);
}

.statisticsValueError {
    color: var(--color-red-700);
}

.duration {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    flex: 1;
    max-width: 360px;
    position: relative;
    overflow: hidden;
}

.durationValue {
    color: var(--color-white-200);
    font-size: 14px;
    margin-top: 35px;
}

.mainLeftContainer {
    display: flex;
    gap: 25px;
    flex:1;
}
