.catalogPage {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin: 50px 0 30px 0;
}

.catalogPage__titleContainer {
    display: flex;
    justify-content: space-between;
}

.catalogPage__addButton {
    width: 240px;
}

.catalogPage__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.catalogPage__left {
    width: calc(100% - 520px);
}

.catalogPage__records {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.catalogPage__right {
    width: 500px;
}

.catalogPage__filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.empty {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
