.recognitionText {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
}
.chat {
    display: flex;
    gap: 20px
}

.chat__name {
    font-size: 14px;
    font-weight: 600;
    color: #515151;
}

.chat__message {
    font-size: 17px;
}

.chat__message mark {
    padding: 0 2px;
    background: #e21a1a;
    color: #FFFFFF;
}
