.recordInfo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 20px;
}

.recordInfo__item {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.recordInfo__item__title {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.45);
    line-height: 1;
}

.recordInfo__item__value {
    font-size: 24px;
    line-height: 1;
}

.recordInfo__participants {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.recordInfo__participant {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.recordInfo__participant__nameContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.recordInfo__participant__name {
    font-size: 20px;
    line-height: 1;
}

.recordInfo__participant__role {
    font-size: 16px;
    line-height: 1;
}
